* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", arial, sans-serif;
  background: white;
  color: #333333; }

p {
  font-size: 16px; }

h2 {
  font-size: 66px;
  margin-bottom: 30px;
  font-family: "Abril Fatface", cursive; }

h3 {
  font-size: 42px;
  margin-bottom: 30px;
  font-family: "Abril Fatface", cursive; }

.emoji {
  font-size: 24px; }

header.main {
  background-color: #f1f1f1;
  position: relative;
  min-height: 650px; }
  header.main:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    content: "";
    background-image: linear-gradient(to bottom right, black 0%, rgba(0, 0, 0, 0.5) 100%);
    z-index: 2;
    opacity: 0.5; }
  header.main .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    z-index: 3;
    color: white;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    padding-top: 50px;
    padding-bottom: 140px;
    text-align: center; }
    header.main .intro p {
      font-size: 20px;
      margin: 10px 0;
      line-height: 1.5em; }
  header.main .learn-more {
    position: absolute;
    bottom: 40px;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, 0); }

footer.main {
  background-color: #111111; }
  footer.main a {
    color: #f1f1f1; }
  footer.main .contact {
    padding: 40px 0 20px;
    color: white;
    overflow: hidden;
    text-align: left; }
    footer.main .contact .method-wrapper {
      margin-bottom: 30px; }
    footer.main .contact h4 {
      opacity: 0.5;
      font-size: 16px;
      margin-bottom: 50px;
      display: block;
      text-transform: uppercase; }
    footer.main .contact .label {
      display: block;
      opacity: 0.25;
      text-transform: uppercase;
      font-size: 13px;
      margin-bottom: 15px; }
    footer.main .contact .elsewhere {
      float: right;
      text-align: right; }
      footer.main .contact .elsewhere a {
        text-decoration: none;
        opacity: 0.75; }
      footer.main .contact .elsewhere .social-icon, footer.main .contact .elsewhere .medium, footer.main .contact .elsewhere .instagram, footer.main .contact .elsewhere .youtube {
        width: 35px;
        height: 35px;
        display: inline-block;
        margin: 0 6px; }
      footer.main .contact .elsewhere .medium {
        background: url(/img/icons/medium.png) left top no-repeat; }
      footer.main .contact .elsewhere .instagram {
        background: url(/img/icons/instagram.png) left top no-repeat; }
      footer.main .contact .elsewhere .youtube {
        background: url(/img/icons/youtube.png) left top no-repeat; }
    footer.main .contact .method {
      margin-right: 100px;
      padding-right: 100px;
      text-align: left;
      float: left; }
      footer.main .contact .method a {
        display: inline-block;
        height: 35px;
        padding-top: 8px;
        text-decoration: none; }

.content-wrapper {
  padding: 0 30px;
  max-width: 960px;
  margin: 0 auto;
  text-align: center; }

.brand-nav-wrapper {
  clear: both;
  padding: 30px 0;
  overflow: hidden;
  position: relative;
  z-index: 100;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
  .brand-nav-wrapper a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-weight: bold; }
  .brand-nav-wrapper .brand-name {
    font-weight: bold;
    text-transform: uppercase;
    float: left; }
  .brand-nav-wrapper .brand-nav {
    float: right;
    list-style: none; }
    .brand-nav-wrapper .brand-nav li {
      display: inline-block;
      margin: 0 10px; }
    .brand-nav-wrapper .brand-nav a {
      display: inline-block;
      padding: 0 6px; }

.button {
  color: #888888;
  border: 1px solid #888888;
  font-size: 16px;
  display: inline-block;
  padding: 18px 30px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px; }

.divider {
  border-top: 1px solid #eeeeee;
  padding-top: 80px;
  padding-bottom: 50px; }

.work-section-wrapper .content-wrapper {
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center; }
  .work-section-wrapper .content-wrapper p {
    line-height: 1.75em;
    margin: 8px auto;
    opacity: 0.65; }
.work-section-wrapper .work-grid {
  border: 1px solid #eeeeee;
  border-bottom: 0;
  margin: 45px 0;
  border-radius: 3px; }
  .work-section-wrapper .work-grid .grid-row {
    display: flex; }
  .work-section-wrapper .work-grid .work-item {
    flex: 1;
    height: 150px;
    background-size: 50% 50%;
    text-align: center;
    position: relative;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee; }
    .work-section-wrapper .work-grid .work-item.empty {
      background-color: #f1f1f1; }
    .work-section-wrapper .work-grid .work-item:last-child {
      border-right: 0; }
    .work-section-wrapper .work-grid .work-item img {
      max-width: 50%;
      max-height: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.5; }

.content-section {
  background: #f9f9f9;
  padding: 50px 0;
  border-top: 1px solid #eeeeee;
  overflow: hidden; }

.yl-item-wrapper {
  width: 300px;
  display: inline-block;
  overflow: hidden;
  margin: 15px 9px 40px;
  position: relative;
  background: white;
  border: 1px solid #eeeeee; }
  .yl-item-wrapper .yl-focus {
    cursor: pointer; }
  .yl-item-wrapper .yl-text {
    text-align: left;
    padding: 12px; }
  .yl-item-wrapper .yl-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .yl-item-wrapper .yl-thumbnail {
    position: relative; }
    .yl-item-wrapper .yl-thumbnail .yl-duration {
      position: absolute;
      top: 3px;
      right: 3px;
      background: rgba(0, 0, 0, 0.65);
      padding: 3px;
      line-height: 13px;
      color: white;
      font-size: 10px;
      border-radius: 2px; }
    .yl-item-wrapper .yl-thumbnail img {
      width: 100%; }
  .yl-item-wrapper .yl-focus {
    line-height: 0; }
  .yl-item-wrapper .yl-view-string, .yl-item-wrapper .yl-date-bucket {
    display: inline-block;
    opacity: 0.4;
    font-size: 14px;
    margin-top: 8px; }
  .yl-item-wrapper .yl-view-string {
    margin-right: 20px; }

.yl-description, .yl-view-bucket, .yl-load-more-button {
  display: none; }

button.mfp-arrow {
  display: none; }

#fm-medium-embed {
  text-align: left; }
  #fm-medium-embed .fm-post {
    margin-bottom: 20px;
    border: 1px solid #eeeeee;
    background: white;
    width: 300px;
    margin: 10px;
    float: left;
    box-sizing: border-box;
    padding-bottom: 20px; }
  #fm-medium-embed .fm-post-image {
    overflow: hidden; }
    #fm-medium-embed .fm-post-image img {
      min-height: 160px;
      object-fit: cover; }
  #fm-medium-embed .fm-post-sub-title {
    margin: 20px;
    line-height: 24px;
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis; }
  #fm-medium-embed .fm-post-read-more {
    font-size: 15px;
    color: black;
    display: inline-block;
    margin: 0 20px; }
  #fm-medium-embed .fm-post-title {
    font-size: 22px;
    font-weight: bold;
    margin: 20px; }
    #fm-medium-embed .fm-post-title a {
      color: black;
      text-decoration: none; }
  #fm-medium-embed .fm-link-out {
    clear: both;
    text-align: center;
    margin-top: 40px; }

#intro-home {
  background: url(/img/photos/iceland-wide-color.jpg) center bottom no-repeat;
  background-size: cover; }

@media screen and (max-width: 1019px) {
  #fm-medium-embed .fm-post {
    width: 100%;
    float: none; }

  .yl-item-wrapper {
    width: 100%; } }
